*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  margin:0;
  background:black;
  overflow:hidden;
  font-family:Segoe UI, sans-serif;
}

/* BƯỚM */
#butterfly{
  position:absolute;
  width:220px;
  left:50%;
  top:45%;
  transform:translate(-50%,-50%);
  cursor:pointer;
  z-index:5;
  transition:all 2s ease;
}

/* TEXT */
.text{
  position:absolute;
  width:100%;
  text-align:center;
  color:white;
  font-size:32px;
  opacity:0;
  transition:opacity 1s ease;
  z-index:4;
  top:65%;
}

.big{font-size:42px;}
.tiny{font-size:14px;}

/* ẢNH NHÂN VẬT */
.char{
  position:absolute;
  width:220px;
  opacity:0;
  transition:opacity 1s ease;
  z-index:2;
}

/* VỊ TRÍ MẪU */
#imgT{ left:50%; top:40%; transform:translateX(-50%); }
#imgH{ right:5%; top:40%; }

#imgT1{ left:5%; top:45%; }
#imgT2{ right:5%; top:55%; }

#imgQ{ left:40%; top:20%; }

#imgN{ right:10%; top:45%; }

#imgH1{ left:10%; top:50%; }
#imgH2{ right:10%; top:50%; }


